*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body {
    height: 100vh;
    top:0;
    width: 100vw;
    bottom: 25px;
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: auto  1fr;
    grid-template-areas: 
        "nav nav"
        "aside main";
    position: fixed;
}
/*----------------NavBar------------------------------------------------------------*/
nav {
    grid-area: nav;
    width: 100%;
    background-color: darkgray;
    display: flex;
    align-items: center;
    padding: 10px;
    overflow: hidden;
}
.fa-bars{
    display: none;
}
nav .navlog{
    margin-right:20px;
    
}


.nav-srch{
    display: flex;
    width: 100%;
    max-width: 400px;
    justify-content: center;

}
.nav-srch .form-control{
    padding-right: 45px;
}
.nav-srch .nav-srch-btn{
    display: none;
}

nav .nav-btn,.nav-srch{
    margin-left: auto;
}
.nav-btn{
    padding-left: 10px;
    display: flex;
    gap: 10px;
    flex-wrap: nowrap;
    text-wrap:nowrap;
}
/*----------------Main------------------------------------------------------------*/
main {
    grid-area: main;
    overflow: auto;
    padding: 15px;
    
    

}


/*----------------Post Card------------------------------------------------------------*/
.vLargeTextField {
    width: 900px;
}

/*----------------top-headline------------------------------------------------------------*/
.top-box{
    background-color: aquamarine;
    display: grid;
    grid-area: topbox;
    grid-template-columns: repeat(5,300px);
}
.top-card{
    width: 100px;
}

/*----------------Post Card------------------------------------------------------------*/
.post-grid {
    margin: 30px;
    column-count: 3;
    gap: 15px;
    

}
.post-card {
    border: 1px solid gray;
    overflow: hidden;
    width: 100%;
    margin: 0px 0px 20px 0px;
    max-width: 350px;
    justify-self: center;
    height:100%;
    align-self:left;
    break-inside:avoid;
    border-radius: 10px;
}
.post-card .post-card-image{
    height: 250px;
}
.post-card-image img{
    width: 100%;
    height: 100%;
    object-fit:fill;
    aspect-ratio: 1/1;
}
.post-card .title{
    font-weight: bolder;
    font-size: 20px;
    height: 100%;
    overflow:hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    max-height: 60px;
    padding: 0 10px;
}
.post-card .title-link{
    text-decoration: none;
    color: rgb(49, 109, 206);
}
.post-card .post-card-content{
    overflow: hidden;
    margin: 0px 10px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    height: 100%;
    max-height: 70px;
}
.post-card .post-detail{
    display: grid;
    padding: 10px 10px  0px  10px;
    grid-template-columns: 75px 1fr;
    grid-template-rows: 25px 25px;
    
}
.post-detail img{
    border-radius: 50%;
    object-fit: cover;
    width: 50px;
    height: 50px;
    grid-row: 1/2;
    grid-column: 1/2;
}
.post-detail > p{
    grid-column:2;
}

.post-card .tag{
    padding: 0px 10px  0px  10px;
    color: red;
}
.post-card .bttom{
    border-top: 1px solid gray;
    padding: 0px 10px  0px  10px;
    display: flex;
    gap: 5px;
    align-items: center;
    height: 50px;
    
}
.post-card .bttom :last-child{
    margin-left: auto;
}
.view-count img{
    margin-right: 2px;
}
/*----------------------------------------Post View---------------------------------------------*/
.post-view{
    width:100%;
    max-width: 950px;
    padding: 10px;
    background-color: azure;
}
.post-view img{
    width: 100%;
    height: 100%;
}


/*-----------------------------------------------media query -------------------------------*/
@media screen and (min-width: 1030px) {
    aside {
        display: block !important;
    }
}
@media screen and (max-width: 1029px) {
    aside {
        width: 250px;
        position: fixed;
        height: 100vh;
        display: none;

    }
    body {
        grid-template-columns:  1fr;    
    }
    .fa-bars{
        display: block;
        cursor: pointer;
    }
  }
  @media screen and (max-width: 1279px) {
    .post-grid {
        column-count: 3;
    }
  }


  @media screen and (max-width: 768px) {
    .post-grid {
        column-count: 2;
    }
  }
  @media screen and (max-width: 480px) {
    .post-grid {
        column-count: 1;
    }
    .form-control{
        display: none;
    }
    .nav-srch .nav-srch-btn{
        display: block;
    }
  }
/*---------------------------------------SummerNote--------------------------------------------*/
.summernote-div{
    width: 100%;
}
.note-editing-area{
    height: 300px;
}
/*----------------------------------------Tag view---------------------------------------------*/

.tags{
    padding: 0 0 5px 0;
    margin: 30px;
    display: flex;
    border-bottom: black 2px solid;
    gap: 10px;
    list-style: none;
}

.tags  a{
    text-decoration: none;
    color: black;
    font-weight: bolder;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(231,18,131,0.9873882902770483) 0%, rgba(255,169,0,1) 100%);
    width:  max-content;
    padding: 2px 6px;
    border-radius: 45px;
    
}

/*----------------Side Bar------------------------------------------------------------*/
aside {
    grid-area: aside;
    background-color: whitesmoke;
    border-right: 1px solid gray;
    padding: 5px;
}
aside .dropdown,.recent_post{
    background: whitesmoke;
    width: 100%;
    max-width: 300px;
    padding:  5px;
    border-bottom: 1px solid gray ;

}
 .dropdown button{
    width: 100%;
    padding:  10px;
    border-radius: 5px;
    color: floralwhite;
    font-weight: bolder;
    text-align: start;
    background:rgb(135, 135, 135);
    border: none;
}
.dropdown .tag{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    padding: 5px;
}
.dropdown a{
    background-color: rgb(46, 46, 46);
    padding: 2px 3px;
    color:rgb(170, 178, 203);
    border-radius: 3px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

.recent_post button{
    width: 100%;
    padding:  10px;
    border-radius: 5px;
    color: floralwhite;
    font-weight: bolder;
    text-align: start;
    background:rgb(135, 135, 135);
    border: none;
}

.recent_post .post{
    display: flex;
    flex-direction: column;
    margin-top: 5px;
}

.post a{
    text-decoration: none;
    color: black;
    gap: 5px;
    height: 100%;
    max-height: 30px;
    text-overflow: clip;
    overflow: hidden;
    padding: 2px 2px 2px 0px;
    margin-bottom: 2px;
    font-size: medium;
}

