{% extends 'base.html' %}
{% load static %}
{% block nav %}
    <i id="navbtn" class="fa-solid fa-bars px-3 fs-3 align-middle"></i>
    <div class="navlog" ><h3>BlogApp</h3></div>
    <div class="nav-srch" >
        <input class="form-control" type="text">
        <button class="nav-srch-btn btn btn-outline-primary " ><i class="fa fa-search" aria-hidden="true"></i></button>
    </div>
    <div class="nav-btn" >
        {% if user %}
            <a href="{% url 'create-post' %}">Create</a>
            <img id="nav-img" class="" src="{{ user.profile_image.url }}" alt="" >
            <div class="user-menu" id="userMenu" >
                <a href="{% url 'profile_view' %}" >View profile</a>
                <a href="{% url 'create-post' %}">Create</a>
                <a href="{% url 'create-post' %}">Create</a>
                <a href="">
                    <form action="{% url 'logout' %}" method="post">
                                {% csrf_token %}
                                <button style="width: 100%;" type="submit">Logout</button>
                    </form>
                </a>
            </div>
            {% else %}
            <a  href="{% url 'login' %}" ><button class="btn bg-warning" >Login </button></a>
            <a  href="{% url 'signup' %}" ><button class="btn bg-danger" >Sign up </button></a>
        {% endif %}
    </div>
{% endblock %}

{% block aside %}
    {% include 'asidebar_data.html' %}
{% endblock %}



{% block main %}

    <div class="post-grid" >
        {% for post in posts %}
                <div class="post-card"  >
                        <div class="main-content" style="display: none;">{{ post.content|safe}}</div>
                        <div class="post-detail" >
                            <img src="{{post.bloger.profile_image.url}}" alt="">
                            <p class="bloger-name" >{{post.bloger}}</p>
                            <p id="pub_date" class="fs-6 text " pub_date="{{post.pub_date|date:'Y-m-d H:i:s'}}"></p>
                        </div>
                        <div class="tag" >
                            {% for tag in post.tag.all %}
                                <a class="post-tag" href="{% url 'tag' tag=tag %}">{{tag}}</a>
                            {% endfor %}
                        </div>
                        <a class="title-link" href="{% url 'post_view' slug=post.slug %}" >{{post.title}}</a>
                        <div class="bttom" >
                            <div class="" ><img class="me-1" src="{% static 'assets/views.svg' %}" alt="view">{{post.views}}</div>
                            <div class="" ><img class="me-1" src="{% static 'assets/comment.svg' %}" alt="view">{{post.count_comments}}</div>
                            <div class="" ><img class="me-1" src="{% static 'assets/like.svg' %}" alt="view">{{post.views}}</div>
                        </div> 
                </div>
        {% endfor %}
    </div>

{% endblock %}





