{% extends 'home.html' %}
{% block aside %}
    {{block.super}}
{% endblock %}
{% block main %}

<h2>Create Post</h2>
<div class="form-box">
    
    <form id="fm" method="post">
        {% csrf_token %}
        {{form.title}}
        {{form.tag}}
        {{form.content}}
        <button id="bkt" class="btn btn-primary" name="action" value="post" type="submit">Post</button>
        <button id="bkt" class="btn btn-primary" name="action" value="save" type="submit">Save Draft</button>
    </form>
</div>
{% endblock %}

